#correct {
  animation-name: moveBox;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#incorrect {
  animation-name: moveBox;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}


@keyframes moveBox {
  0% {
    top: 0px;

  }
  25% {
    top: 50px;

  }
  50% {
    top: 0px;

  }
}
